<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.vandy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/palantir">
        <activity
            android:name=".view.PalantiriActivity"
            android:label="@string/palantiri_configuration">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.GazingSimulationActivity"
            android:label="@string/palantiri_simulation">
            <intent-filter>
                <action android:name="android.intent.action.GAZING_SIMULATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <service
           android:name=".model.service.PalantiriService"
           android:process=":palantirService"> 
        </service>
    </application>

</manifest>
